.schedule{
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	padding-top: 5.438rem;
	justify-content: center;
}
.title{
	padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 768px){
    .schedule{
    padding-top: 10.75rem;
    }
}