.menuWrapper{
	padding: 0 1rem;
}
.firstSegment{
	padding: 1rem 0 1rem 0;
}
.categories, .categoriesItem, .beverageCategory{
	display: flex;
	flex-flow: column nowrap;
}
.categoriesTitle, .beveragesTitle{
	color: #3E3E3E;
	font-family: 'normal-title';
	font-size: 1rem;
	font-weight: normal;
	padding-top: 1rem;
	text-decoration: underline;
	text-transform: uppercase;
}
.categoriesItem, .beveragesItemLeft, .beveragesItemRight{
	list-style: none;
	font-size: 1rem;
}
.itemTitle{
	color: #3E3E3E;
	font-family: 'normal-title';
	font-size: 1rem;
	font-weight: normal;
	padding-top: 1rem;
}
.itemDescription{
	color: #3E3E3E;
	font-family: 'normal-text';
	font-size: .875rem;
}
.categorieDescription{
	font-family: 'normal-text';
	font-size: .8125rem;
}
.sideDishes{
	color: #3E3E3E;
	font-family: 'normal-text';
	font-size: .875rem;
	line-height: .75rem;
	padding-top: 1rem;
}
.otherDescription{
	font-family: 'normal-text';
	font-size: .875rem;
	line-height: .8125rem;
}
.segment{
	border-top: solid #000000 1px;
	padding: 1rem 0 1rem 0;
}

@media (min-width: 768px){
	.menuWrapper{
		padding: 0;
	}
	.firstSegment, .segment{
		display: flex;
		flex-flow: row nowrap;
		max-width: 600px;
		width: 100%;
	}
	.beverageCategory{
		display: flex;
		flex-flow: row wrap;
		width: 100%;
	}
	.beveragesTitle{
		width: 100%;
	}
	.leftHalf, .beveragesItemLeft{
		padding-right: .5rem;
		width: 50%;
	}
	.rightHalf, .beveragesItemRight{
		padding-left: .5rem;
		width: 50%;
	}
}