.menu{
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.title{
	padding-top: 1rem;
	text-align: center;
	text-transform: uppercase;
}

.container{
	padding: 20rem;
	width: 100%;
}


@media (min-width: 768px){
  .container{
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
  }
}