.home{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.content{
    padding: 1rem;
}
.title{
    text-align: center;
    text-transform: uppercase;
}
.text{
    text-align: justify;
}
.signature{
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	float: right;
	justify-content: center;
	padding-top: 1rem;
}

@media (min-width: 768px){
    .content{
        max-width: 768px;
    }
}