.home{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.title{
    color: #3E3E3E;
    font-family: 'normal-title';
    font-size: 2.25rem;
    font-weight: normal;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
}
.text{
    color: #3E3E3E;
    font-family: 'normal-text';
    padding: 0 1rem 0 1rem;
    text-align: justify;
}
.signature{
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
    float: right;
	justify-content: center;
	padding: 1rem 1rem 1rem 0;
}
.signatureName{
    font-family: 'normal-text';
    font-size: 0.9375rem;
    font-weight: bold;
}
.signatureDate{
    font-family: 'normal-text';
    font-size: 0.875rem;
}

@media (min-width: 768px){
    .content{
        max-width: 800px;
    }
}