.infos{
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0 1rem 1rem 1rem;
    width: 100%;
}
.about{
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 1rem;
    width: 100%;
}
.content{
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-bottom: 1rem;
}
.title, .subtitle{
    color: #3e3e3e;
    font-family: 'normal-title';
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.375rem;
    text-align: left;
    text-transform: uppercase;
}
.phone{
    color: #3e3e3e;
    font-family: 'normal-text';
    font-size: .9375rem;
    line-height: 1.313rem;
}
.text{
    color: #3e3e3e;
    font-family: 'normal-text';
    font-size: .9375rem;
    text-align: left;
}
.subtitle{
    font-family: 'normal-text';
}
.textNote{
    font-family: 'normal-text';
    font-size: .75rem;
}
.localization{
    width: 100%;
}
.map{
    border: 0;
    height: 20rem;
    width: 100%;
}

@media (min-width: 768px){
    .infos{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        max-width: 800px;
    }
    .about, .localization{
        width: 50%;
    }
    .about{
        padding: 1rem .5rem 0 0;
    }
    .localization{
        padding: 1rem 0 0 .5rem;
        height: 100%
    }
    .map{
        height: 29rem;
    }
}