.carousel{
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-height: 320px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.imageSelectedOne, .imageSelected{
	height: 100%;
}
.imageSelected{
	height: 600px;
}
.imageHidden{
  	display: none;
}
.selectors{
	position: absolute;
	top: 295px;
}
.imgSelectorOn{
	background-color: #ffffff;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	height: .6rem;
	margin: 0 .5rem;
	width: .6rem;
	z-index: 1;
}
.imgSelectorOff{
	background-color: #777777;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	height: .6rem;
	margin: 0 .5rem;
	width: .6rem;
	z-index: 1;
}
.imgSelectorOff:hover{
	background-color: #afafaf;
}

@media (min-width: 768px){
	.carousel{
		height: 600px;
		max-height: 600px;
	}
	.selectors{
		top: 570px;
	}
}

@media (min-width: 840px){
	.imageSelected{
		width: 100%;
		height: initial;
	}
}

@media (min-width: 1540px){
	.imageSelectedOne{
		width: 100%;
		height: initial;
	}
}