.footer{
    background-color: #112406;
    color: #EFEFEF;
}
.footerWrapper{
    padding: 1rem 1rem 4rem 1rem;
}
.contact{
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
    max-width: 425px;
}
.contactInfo{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}
.contactTitle, .openingTitle{
    text-transform: uppercase;
}
.address, .wayOfContact, .openingHours{
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.9rem;
    padding: 1rem 0 0 0;
}
.wayOfContact{
    padding: 0.9rem 0 0 0;
}
.link{
    color: #EFEFEF;
    text-decoration: none;
}
.opening{
    display: none;
}
.social{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.socialIcons{
    width: 35px;
    height: 35px;
    object-fit: cover;
}
.formNews{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem;
}
.formText{
    padding-top: 1rem;
    text-align: center;
}
.inputName, .inputEmail, .formButton{
    height: 3rem;
    margin-top: 1rem;
    max-width: 425px;
    padding: 0 1rem;
    width: 100%;
}
.inputName, .inputEmail{
    background-color: #112406;
    border: solid 0.125rem #ababab;
    color: #EFEFEF;
}
.inputName::placeholder, .inputEmail::placeholder{
    color: #EFEFEF;
}
.mobileFooter{
    align-items: center;
    background-color: #ffffff;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.contactLinks{
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: center;
    text-decoration: none;
    width: 33%;
}
.contactLinks:nth-last-of-type(2){
    border: solid #e0e0e0;
    border-width: 0 .01rem 0 .01rem;  
}
.footerIcons{
    color: #1d2d3c;
    font-size: 2rem;
}

@media (min-width: 768px){
    .footer{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .footerWrapper{
        display: flex;
        flex-flow: row nowrap;
        max-width: 1000px;
    }
    .contact{
        max-width: 1000px;
    }
    .contactInfo{
        flex-grow: 0;
    }
    .address, .wayOfContact, .openingHours{
        font-size: .7rem;
    }
    .opening{
        display: flex;
        flex-flow: column nowrap;
        padding: 0 1rem;
    }
    .sunday{
        font-size: .6rem;
    }
    .formNews{
        align-items: center;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 1rem;
    }
    .formText{
        padding-top: 0;
        text-align: center;
        width: 100%;
    }
    .inputName, .inputEmail{
        flex-grow: 1;
        font-size: .7rem;
        height: 2rem;
        margin: 0 1rem 0 0;
        padding: 0 .5rem;
        width: 35%;
    }
    .formButton{
        height: 2rem;
        margin: 0;
        padding: 0;
        width: 2rem;
    }
    .mobileFooter{
        display: none;
    }
}