.history{
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
.content{
  	padding: 1rem;
}
.title{
	text-align: center;
	text-transform: uppercase;
}
.text{
	color: #3E3E3E;
    font-family: 'normal-text';
	padding-top: .7rem;
  	text-align: justify;
}
.signature{
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
    float: right;
	justify-content: center;
	padding-top: 1rem;
}
.signatureName{
    font-family: 'normal-text';
    font-size: 0.9375rem;
    font-weight: bold;
}
.signatureDate{
    font-family: 'normal-text';
    font-size: 0.875rem;
}

@media (min-width: 768px){
  .content{
      max-width: 800px;
  }
}