.scheduleList{
	display: flex;
	flex-flow: row wrap;
    justify-content: space-between;
	padding: 0 .8rem;
	width: 100%;
}
.weekday{
	display: flex;
	flex-flow: column nowrap;
	height: 34%;
	margin: 0 .1rem .5rem .1rem;
	max-width: 249px;
    width: 48%;
}
.weekday:hover{
	opacity: .7;
}
.link{
	display: flex;
	text-decoration: none;
}
.image{
	height: 52.21%;
	width: 100%;
}
.content{
	align-items: center;
	background-color: #112406;
	display: flex;
	flex-flow: column nowrap;
	height: 54px;
	justify-content: center;
	width: 100%;
}
.day{
	color: #EFEFEF;
	font-size: .7rem;
	text-transform: uppercase;
	text-overflow: ellipsis;
}
.time{
	color: #EFEFEF;
	font-size: .7rem;
}

@media (min-width: 768px){
    .scheduleList{
		max-width: 768px;
		padding: 0;
	}
	.weekday{
		margin: 0 0 .5rem 0;
	}
}