.scheduleList{
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
	padding: 2rem .8rem 0 .8rem;
	width: 100%;
}
.weekday{
	display: flex;
	flex-flow: column nowrap;
	height: 34%;
	margin: 0 .1rem .5rem .1rem;
    width: 49%;
}
.weekday:hover{
	opacity: .7;
}
.link{
	display: flex;
	text-decoration: none;
}
.image{
	height: 52.21%;
	width: 100%;
}
.content{
	align-items: center;
	background-color: #112406;
	display: flex;
	flex-flow: column nowrap;
	height: 54px;
	justify-content: center;
	width: 100%;
}
.day{
	color: #EFEFEF;
	font-family: 'normal-text';
	font-size:  .75rem;
	text-transform: uppercase;
	text-overflow: ellipsis;
}
.time{
	color: #EFEFEF;
	font-family: 'normal-text';
	font-size: 0.6875rem;
}

@media (min-width: 768px){
    .scheduleList{
		justify-content: space-between;
		margin-bottom: 11rem;
		max-width: 768px;
		padding: 2rem 1rem 0 1rem;
	}
	.weekday{
		margin: 0 0 .5rem 0;
		max-width: 243px;
	}
	.image{
		height: 198px;
		width: 243px;
	}
}